In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("comp_1996_2020.csv")
print(len(df))
df = df.drop_duplicates(subset=['datadate', 'tic', 'naics'], keep='first')
print(len(df))

306059
277186

In [3]:
df["naics_2"] = [str(ind)[:2] for ind in list(df.naics)]

df_96 = df[df.fyear == 1996].groupby(['naics_2']).sum()
df_96.reset_index(level=0, inplace=True)
df_96 = df_96[["naics_2", "emp"]]
df_a = pd.DataFrame({"naics_2":["31-33", "44-45", "48-49"], 
                     "emp":[float(df_96[df_96.naics_2 == "31"].emp) + float(df_96[df_96.naics_2 == "32"].emp) + float(df_96[df_96.naics_2 == "33"].emp),
                            float(df_96[df_96.naics_2 == "44"].emp) + float(df_96[df_96.naics_2 == "45"].emp),
                            float(df_96[df_96.naics_2 == "48"].emp) + float(df_96[df_96.naics_2 == "49"].emp)]})
df_96 = df_96.append(df_a, ignore_index=True)

df_06 = df[df.fyear == 2006].groupby(['naics_2']).sum()
df_06.reset_index(level=0, inplace=True)
df_06 = df_06[["naics_2", "emp"]]
df_a = pd.DataFrame({"naics_2":["31-33", "44-45", "48-49"], 
                     "emp":[float(df_06[df_06.naics_2 == "31"].emp) + float(df_06[df_06.naics_2 == "32"].emp) + float(df_06[df_06.naics_2 == "33"].emp),
                            float(df_06[df_06.naics_2 == "44"].emp) + float(df_06[df_06.naics_2 == "45"].emp),
                            float(df_06[df_06.naics_2 == "48"].emp) + float(df_06[df_06.naics_2 == "49"].emp)]})
df_06 = df_06.append(df_a, ignore_index=True)

df_16 = df[df.fyear == 2016].groupby(['naics_2']).sum()
df_16.reset_index(level=0, inplace=True)
df_16 = df_16[["naics_2", "emp"]]
df_a = pd.DataFrame({"naics_2":["31-33", "44-45", "48-49"], 
                     "emp":[float(df_16[df_16.naics_2 == "31"].emp) + float(df_16[df_16.naics_2 == "32"].emp) + float(df_16[df_16.naics_2 == "33"].emp),
                            float(df_16[df_16.naics_2 == "44"].emp) + float(df_16[df_16.naics_2 == "45"].emp),
                            float(df_16[df_16.naics_2 == "48"].emp) + float(df_16[df_16.naics_2 == "49"].emp)]})
df_16 = df_16.append(df_a, ignore_index=True)

In [4]:
keys = ["11", "21", "22", "23", "31-33", "42", "44-45", "48-49", "51", "52", "53", "54", "56", "61", "62", "71", "72", "81"]
emp_1996 = []
emp_2006 = []
emp_2016 = []
for k in keys:
    emp_1996.append(float(df_96[df_96.naics_2 == k].emp))
    emp_2006.append(float(df_06[df_06.naics_2 == k].emp))
    emp_2016.append(float(df_16[df_16.naics_2 == k].emp))

In [5]:
df_out = pd.DataFrame({"Industry":["Agriculture, Forestry, Fishing Hunting", 
                                   "Mining, Quarrying, Oil & Gas Extract", 
                                   "Utilities", 
                                   "Construction",
                                   "Manufacturing",
                                   "Wholesale Trade",
                                   "Retail Trade",
                                   "Transportation and Warehousing",
                                   "Information", 
                                   "Finance and Insurance",
                                   "Real Estate and Rental and Leasing",
                                   "Professional, Scientific, Tech. Services",
                                   "Administrative, Support, etc. Services",
                                   "Educational Services",
                                   "Health Care and Social Assistance",
                                   "Arts, Entertainment, and Recreation",
                                   "Accommodation and Food Services",
                                   "Other Services"],
                       "1996 Emp.":emp_1996,
                       "1996 Frac.": 100 * np.asarray(emp_1996) / sum(emp_1996),
                       "2006 Emp.":emp_2006,
                       "2006 Frac.": 100 * np.asarray(emp_2006) / sum(emp_2006),
                       "2016 Emp.":emp_2016,
                       "2016 Frac.": 100 * np.asarray(emp_2016) / sum(emp_2016)})

In [6]:
df_out

,Industry,1996 Emp.,1996 Frac.,2006 Emp.,2006 Frac.,2016 Emp.,2016 Frac.
0,"Agriculture, Forestry, Fishing Hunting",115.721,0.227978,185.058,0.286176,72.4000,0.101697
1,"Mining, Quarrying, Oil & Gas Extract",954.704,1.880831,1381.751,2.136760,1257.2610,1.766019
2,Utilities,1218.875,2.401265,1690.058,2.613531,1456.7260,2.046198
3,Construction,234.853,0.462676,439.058,0.678966,448.9580,0.630631
4,Manufacturing,20597.687,40.578822,23108.701,35.735642,24247.2980,34.059102
5,Wholesale Trade,879.261,1.732203,1168.990,1.807744,1171.3380,1.645326
6,Retail Trade,6912.510,13.618107,9681.556,14.971703,11245.3840,15.795891
7,Transportation and Warehousing,3133.585,6.173372,3742.096,5.786833,3700.6000,5.198068
8,Information,4895.027,9.643531,6134.698,9.486789,7527.1675,10.573078
9,Finance and Insurance,3900.115,7.683488,6709.563,10.375769,7928.7670,11.137187
10,Real Estate and Rental and Leasing,338.635,0.667134,567.377,0.877400,722.3920,1.014712
11,"Professional, Scientific, Tech. Services",1372.688,2.704287,2129.083,3.292446,2949.4380,4.142944
12,"Administrative, Support, etc. Services",2000.047,3.940226,2336.167,3.612684,2127.7370,2.988738
13,Educational Services,44.362,0.087396,100.923,0.156069,277.2660,0.389463
14,Health Care and Social Assistance,1307.696,2.576249,1282.859,1.983832,1742.5890,2.447737
15,"Arts, Entertainment, and Recreation",146.528,0.288670,256.121,0.396069,293.9180,0.412854
16,Accommodation and Food Services,2538.167,5.000359,3518.876,5.441643,3848.0460,5.405179
17,Other Services,169.236,0.333406,232.760,0.359944,174.5450,0.245176